<!-- views/reviews-show.handlebars -->
<!--
<a href="/">Back to Home</a>

<h1>{{review.title}}</h1>
<h5>{{review.movieTitle}}</h5>
<p>{{review.description}}</p>

 -->

 <h1>Reviews</h1>
 <a href="/reviews/new">New Review</a>

 <div class="row">
    {{#each reviews}}
        <h2><a href="/reviews/{{this.id}}">{{this.title}}</a></h2>
        <small>{{this.movieTitle}}</small>
    {{/each}}
</div>
